@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

html,body{
	position: relative;
	min-height: 100%;
	font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a{
	text-decoration: none;
	color:#000;
}

html,
body,
header,
nav,
main,
section,
h1,h2,h3,h4,h5,h6,
div{
	margin:0;
	padding:0;
}